<div class="collection-template collection-template-flash-sale">
  <div class="container">
    {% render 'breadcrumb' %}
  </div>
  <div class="halo-collection-content">
    <div class="container">
      {% render 'collection-template-flash-sale' %}
    </div>
  </div>
</div>