.tb_section {
	background: #ffffff;
    border: 2px solid #d6d6d6;
    padding: 15px;
    box-shadow: 0 0 10px #d8d8d8;
  	border-radius: 5px;
}

.tb_container {
  max-width: 1044px;
  margin: 0 auto;
  padding: 0 20px;
}

.tb_carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.tb_carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.tb_carousel > input:nth-of-type(6):checked ~ .tb_carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}
.tb_carousel > input:nth-of-type(5):checked ~ .tb_carousel__slides .carousel__slide:first-of-type {
  margin-left: -400%;
}
.tb_carousel > input:nth-of-type(4):checked ~ .tb_carousel__slides .carousel__slide:first-of-type {
  margin-left: -300%;
}
.tb_carousel > input:nth-of-type(3):checked ~ .tb_carousel__slides .carousel__slide:first-of-type {
  margin-left: -200%;
}
.tb_carousel > input:nth-of-type(2):checked ~ .tb_carousel__slides .carousel__slide:first-of-type {
  margin-left: -100%;
}
.tb_carousel > input:nth-of-type(1):checked ~ .tb_carousel__slides .carousel__slide:first-of-type {
  margin-left: 0%;
}
.tb_carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.tb_carousel > input:nth-of-type(2):checked ~ .tb_carousel__thumbnails li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.tb_carousel > input:nth-of-type(3):checked ~ .tb_carousel__thumbnails li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.tb_carousel > input:nth-of-type(4):checked ~ .tb_carousel__thumbnails li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.tb_carousel > input:nth-of-type(5):checked ~ .tb_carousel__thumbnails li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.tb_carousel > input:nth-of-type(6):checked ~ .tb_carousel__thumbnails li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.tb_carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;
}
.carousel__slide figure {
  
  margin: 0;
}
.carousel__slide div {
  position: relative;
  width: 50%;
  float:left;
}
.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}
.carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}
.carousel__slide figcaption {
  
  padding: 20px 20px 20px 20px;
 
  width:50%;
  float: right;
}
.carousel__slide .credit {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
.carousel__slide.scrollable {
  overflow-y: scroll;
}

.tb_carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}
.tb_carousel__slides + .tb_carousel__thumbnails {
  margin-top: 20px;
}
.tb_carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}
.tb_carousel__thumbnails label {
  display: block;
  position: relative;
}
.tb_carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.tb_carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.tb_carousel__thumbnails label:hover, .tb_carousel__thumbnails label:focus {
  cursor: pointer;
}
.tb_carousel__thumbnails label:hover img, .tb_carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.tb_carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tuecus-text{text-align: center; padding: 20px;}
.tuecus-text h2{    text-transform: capitalize; letter-spacing: 0;}

.tuecus-text #catalog_share_greetings_discount_message{
	font-size: 19px;
    font-weight: 500;
    color: #f71d3b;
    text-transform: capitalize;
  	margin: 10px 0;
}


.tuecus-text #cart_share_greetings_discount_message{
	font-size: 19px;
    font-weight: 500;
    color: #f71d3b;
    text-transform: capitalize;
  	margin: 10px 0;
}

.tb_carousel .tb_carousel__slides .cart__product-title{
	font-size: 18px;
    text-decoration: none;
}

.tb_carousel .tb_carousel__slides .cart__product-title:hover{
	border-bottom: 0;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.tuecus-close{
	position: absolute;
    right: 10px;
    top: 11px;
    background: #fff;
    border: 2px solid #a5a5a5;
    font-size: 24px;
    padding: 10px 5px 14px 4px;
    line-height: 0;
    border-radius: 25px;
    color: #a5a5a5;
    font-weight: bold;
}
.tuecus-social-icons{text-align: left;}

.tuecus-fb-icon{    padding: 10px 17px;
    border: 0;
    border-radius: 25px;
    background: #1370ce;
    color: #fff;
}
.tuecus-twitter-icon{    padding: 10px 17px;
    border: 0;
    border-radius: 25px;
    background: #55aeed;
    color: #fff;
}
.tuecus-whatsapp-icon{    padding: 10px 17px;
    border: 0;
    border-radius: 25px;
    background: #36ae6a;
    color: #fff;
}
}

.tuecus-width {
    max-width: 1000px !important;
}

@media (min-width: 1200px){
.tuecus-container {
    max-width: 800px !important;
}
}


.tuecus-social-horizontal button{
  display:inline !important;	  
}

.tuecus-catalog-share-icons .tuecus-catalog-share-btn{
	line-height: 30px;
}

.tuecus-catalog-share-icons .tuecus-catalog-share-btn svg{
	vertical-align:middle;
}






